:root {
    --tab_margin: 1%;
    --li_margin: 3%;
}

body {
    font-family: "DejaVu Sans";
    font-size: 12pt;
}

h1, h2 {
    font-family: "DejaVu Sans";
    font-weight: bold;
}

.box-title {
    font-weight: bold;
}

.form-control.shiny-bound-input {
    text-align: center;
}

.main-header .logo {
    font-family: "Latin Modern Roman";
    font-size: 16pt;
}

#shiny-tab-info {
    margin-right: 25%;
    margin-left: var(--tab_margin);
}

li {
    margin-left: var(--li_margin);
}
