:root {
    --tab_margin: 1%;
    --li_margin: 3%;
}

@font-face {
    font-family: "Latin Modern Roman";
    src: url(lroman12-bold.otf);
}

@font-face {
    font-family: "DejaVu Sans";
    src: url(DejaVuSans.ttf);
}

body {
    font-family: "DejaVu Sans";
    font-size: 11pt;
}

h1, h2 {
    font-family: "DejaVu Sans";
    font-weight: bold;
}

li {
    margin-left: var(--li_margin);
}

div.col-sm-3 {
    padding-left: 0%;
}

div.row {
    padding-left: 0%;
    margin-left: 0%;
}

div.row div.col-sm-12 {
    padding-left: 0%;
}

.box-header .box-title {
    font-family: "DejaVu Sans";
    font-size: 11pt;
    font-weight: bold;
}

.form-control.shiny-bound-input {
    text-align: center;
}

.main-header .logo {
    font-family: "Latin Modern Roman";
    font-size: 14pt;
}

.content {
    margin-left: var(--tab_margin);
}

.control-label {
    font-weight: normal;
}

#shiny-tab-info {
    margin-right: 25%;
}
